params {
    general.demo         = true
    general.wf_opts      = '-resume -ansi-log false'

    demo.input           = null
    demo.params_file     = null
    demo.wf_opts         = '-profile test,singularity'
    demo.add_config      = null
    
    fetchngs.input       = null
    fetchngs.params_file = null
    fetchngs.wf_opts     = '-profile test,singularity'
    fetchngs.add_config  = null

    rnaseq.input         = null
    rnaseq.params_file   = null
    rnaseq.wf_opts       = '-profile test,singularity'
    rnaseq.add_config    = null
}

resume = true